
button{
    font-size: 20px;
    color: black;
    width: 40px;
    height: 60px;
}
#display{
    color: white;
    font-size: 20px;
    border: 6px solid rgb(11,11,11);
    width: 200px;
    height: 60px;
    background-color: grey;
    border-radius: 15px;
}
